@import './variables.less';

.child-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  color: #fff;
  background-color: #191a1c;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  color: #fff;
  background-color: #191a1c;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

:root:root {
  --van-blue: #1ba0ff;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.title {
  color: #fff;
  font-family: 'PingFang SC';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.sub-title {
  color: #fff;
  font-family: 'PingFang SC';
  opacity: 0.8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.level-3-title {
  color: #fff;
  font-family: 'PingFang SC';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.shadow-btn-primary {
  background: linear-gradient(
    180deg,
    #26b3f7 26.5%,
    #23aaf8 39.5%,
    #1c95f9 64%,
    #1983fa 97%
  ) !important;
  overflow: hidden;
  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.4), 0px 0.926px 0px #000;
  -webkit-text-stroke-width: 0.800000011920929;
  -webkit-text-stroke-color: #3b3b3b;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  box-shadow: 0px 3px 0px #1057da;
  border: none !important;
}

.shadow-btn-green {
  border: none !important;
  background: linear-gradient(
    180deg,
    #02eb02 26.5%,
    #02e702 39.5%,
    #02dd02 64%,
    #01d201 97%
  ) !important;
  overflow: hidden;
  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.4), 0px 0.926px 0px #000;
  -webkit-text-stroke-width: 0.800000011920929;
  -webkit-text-stroke-color: #3b3b3b;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  box-shadow: 0px 3px 0px #00b300;
}

.shadow-btn-grey {
  overflow: hidden;
  color: #fff !important;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.4), 0px 0.926px 0px #000;
  -webkit-text-stroke-width: 0.800000011920929;
  -webkit-text-stroke-color: #3b3b3b;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  background: linear-gradient(
    180deg,
    #f0f0f0 26.5%,
    #ececec 39.5%,
    #dbdbdb 64%,
    #b5b5b5 97%
  ) !important;
  border: none !important;
  box-shadow: 0px 3px 0px #8a8a8a;
}

.field-lable {
  color: #fff;
  font-family: 'PingFang SC';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-bottom: 8px;
  opacity: 0.8;
}

.field-grey {
  width: 100%;
  border-radius: 12px;
  background: #292d34 !important;
  overflow: hidden;

  .van-field {
    padding: 14px 10px !important;
    background: #292d34 !important;
    border-radius: 12px;
    border: none !important;

    .van-field__control {
      color: #fff;
    }
  }
}

.field-transparent {
  width: 100%;
  border-radius: 12px;
  //background: #292d34 !important;
  overflow: hidden;

  .van-field {
    padding: 8px 10px 8px 0 !important;
    background: transparent !important;
    border-radius: 12px;
    border: none !important;

    .van-field__control {
      font-size: 24px;
      color: #fff;
    }
  }
}

.cat_border {
  border-radius: 12px;
  border: 2.7px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;

  .border-box {
    flex-shrink: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(55, 55, 55, 0.25) 100%
    );
  }
}

.record-box {
  border-radius: 38px;
  background: #292d34;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 12px;
  line-height: 18px; /* 150% */
  padding: 5px 10px;
}

.big_number {
  color: #fff;
  font-family: 'Alibaba PuHuiTi';
  font-style: normal;
  font-weight: 700;
}

.common-linear {
  border-radius: 16px;
  background: linear-gradient(180deg, #4b4f55 0%, #232830 100%);
}

.van-popup--transparent {
  background: transparent !important;
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.loadingClass {
  background: unset !important;
  .van-toast__loading {
    color: #ffcd6b !important;
  }
}
